.blog-bg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  justify-content: center;
  padding: 60px;
  background-color: #0c385b;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80");
  width: 100%;
  object-fit: cover;
}

.textblog {
  text-align: left;
  padding: 80px;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  font-size: 3.6rem;
  color: aliceblue;
  text-shadow: #065358 2px 5px;
}

.sub-text {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 100px;
  text-align: center;
}
.pages {
  display: flex;
  gap: 15px;
  font-weight: bold;
  align-content: center;
  padding: 20px 0px;
  font-family: "Montserrat", sans-serif;
  align-content: center;
}
.pages a {
  color: #0c446a;
}
