.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  justify-content: center;
  padding: 100px;
  background-color: #0c385b;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1612344801387-1219e4677f21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  width: 100%;
  object-fit: cover;
}

.text-home {
  font-size: 3rem;
  line-height: 1.3;
  font-family: "Righteous", cursive;
  color: #47a6ff;
  text-shadow: #d7dfdf 2px 4px;
  padding: 100px 30px;
  align-items: center;
}

.link-home {
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  background: #049498;
  padding: 30px;
  margin-left: 30px;
  color: #fafafa;
  border-radius: 50px;
  align-items: center;
  box-shadow: 0 0 1em #049398af;
}

.link-home:hover {
  background: #fafafa;
  color: #044066;
}
@media (max-width: 700px) {
  .link-home {
    font-size: 0.7rem;
    padding: 15px;
  }
}
