.expedition {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.expedition-conteudo {
  padding-top: 180px;
  padding-bottom: 180px;
  line-height: 1.3;
  font-family: "Montserrat", sans-serif;
}
.link {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background: #049498;
  border-radius: 10px;
  padding: 10px;
  color: #fafafa;
}

.expedition-conteudo > span {
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  color: #049498;
  font-family: "Montserrat", sans-serif;
}

.expedition-conteudo h2 {
  margin-bottom: 32px;
}

.expedition-conteudo > p {
  margin-bottom: 50px;
  line-height: 1.3;
  font-family: "Montserrat", sans-serif;
}

.expedition-conteudo a {
  margin-bottom: 80px;
}
.link {
  font-size: 0.9rem;
}
.expedition-layout {
  display: flex;
  gap: 40px;
}

.expedition-layouts h3 {
  margin-top: 10px;
  color: #044066;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 8px;
  width: max-content;
}
.expedition-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: relative;
  border-bottom: 10px solid #044066;
  border-top: 10px solid #044066;
}

.expedition-layout img {
  margin-top: 30px;
  width: 24px;
  margin-bottom: 5px;
}
.exptext {
  line-height: 1.3;
}
.listexpedition li {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  list-style: none;
  line-height: 1.9;
  font-weight: bold;
  color: #044066;
}
.listexpedition span {
  color: rgba(255, 0, 0, 0.45);
  font-size: 0.7rem;
}

@media (max-width: 800px) {
  .expedition-bg {
    box-shadow: initial;
  }
  .expedition {
    grid-template-columns: 1fr;
  }
  .expedition-conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .expedition-imagem {
    display: none;
  }
  .expedition-conteudo a {
    margin-bottom: 60px;
  }
}
